@CHARSET "ISO-8859-1";

.errorMsg {
	color: #ff0000;
}

.noBorderPanelColumns td, tr {
	vertical-align: top;
	background: none !important;
	border: none !important;
}

.borderPanelColumns td, tr {
	vertical-align: top;
}

.buttonRight {
	horizontal-align: right;
}

.headingSmall {
	font-size: medium;
}

.search {
	width: 1200px;
	cellspacing: 10px;
	padding: 25px;
}

.rowClass{
	padding: 25px;
}