@CHARSET "ISO-8859-1";

.errorMsg {
	color: #ff0000;
}

.headerText {
	color: #ffd600;
	font-size: 8em;
	text-shadow: 2px 2px #bf360c;
	text-align: center;
	padding-top: 160px;
}

.search {
width: 1200px;	
}

.menuItems{
	padding: 0 5px;
}